.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.puzzle {
  background-color: white;
  border: 6px solid white;
  margin-bottom: 20px;
}

.puzzle-row {
  display: flex;
  margin-top: 3px;
}

.piece {
  box-sizing: border-box;
  background: rgb(36, 36, 36, 1);
  font-size: 2em;
  padding-left: 0.2em;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
}

.piece:nth-child(n+2) {
  margin-left: 3px;
}

.pointer {
  cursor: pointer;
}
